## Messy stuff
*.bak
.DS_Store

## large / unneeded tool files
**/update-notifier-*

## sensitive info
.adventofcode.session

## fuck rstudio
**/rstudio

## secrets
**.priv

## lock files
lazy-lock.json

## Neovim spell binary
en.utf-8.add.spl
