repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
      - id: detect-private-key
        name: Detect Private Keys

  - repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.92.2
    hooks:
      - id: trufflehog
        name: TruffleHog Secret Scanner
        entry: trufflehog git file://. --since-commit HEAD --results=verified,unknown --fail
        args: []
