# proton pass CLI template, for use with `pass-cli inject`

[Proton]
source                = imap://{{pass://aerc/accounts/proton-account}}%40{{pass://aerc/accounts/proton-domain}}@127.0.0.1:1143
outgoing              = smtp://{{pass://aerc/accounts/proton-account}}%40{{pass://aerc/accounts/proton-domain}}@127.0.0.1:1025
source-cred-cmd       = ~/.config/aerc/scripts/get-auth proton
outgoing-cred-cmd     = ~/.config/aerc/scripts/get-auth proton

from                  = {{pass://aerc/accounts/name}} <{{pass://aerc/accounts/proton-account}}@{{pass://aerc/accounts/proton-domain}}>
aliases               = {{pass://aerc/accounts/name}} <*@{{pass://aerc/accounts/proton-domain}}>

cache-headers         = true
check-mail            = 1m

default               = Inbox
folders               = All Mail,Inbox,Archive,Sent,Drafts,Spam,Trash
folders-sort          = All Mail,Inbox,Archive,Sent,Drafts,Spam,Trash
folder-map            = ~/.config/aerc/maps/proton
postpone              = Drafts

[Marquette]
source                = imaps+xoauth2://{{pass://aerc/accounts/outlook-account}}%40{{pass://aerc/accounts/outlook-domain}}@outlook.office365.com:993
outgoing              = smtp+xoauth2://{{pass://aerc/accounts/outlook-account}}%40{{pass://aerc/accounts/outlook-domain}}@smtp.office365.com:587
source-cred-cmd       = ~/.config/aerc/scripts/get-auth outlook
outgoing-cred-cmd     = ~/.config/aerc/scripts/get-auth outlook

cache-headers         = true
check-mail            = 1m

from                  = {{pass://aerc/accounts/name}} <{{pass://aerc/accounts/outlook-account}}@{{pass://aerc/accounts/outlook-domain}}>

default               = Inbox
folders               = Inbox,Sent,Drafts,Archive,Spam,Deleted Items
folders-sort          = Inbox,Sent,Drafts,Archive,Spam,Deleted Items
folder-map            = ~/.config/aerc/maps/outlook
postpone              = Drafts

[Gmail]
source                = imaps://{{pass://aerc/accounts/gmail-account}}%40{{pass://aerc/accounts/gmail-domain}}@imap.gmail.com
outgoing              = smtps://{{pass://aerc/accounts/gmail-account}}%40{{pass://aerc/accounts/gmail-domain}}@smtp.gmail.com
source-cred-cmd       = ~/.config/aerc/scripts/get-auth gmail
outgoing-cred-cmd     = ~/.config/aerc/scripts/get-auth gmail

cache-headers         = true
check-mail            = 1m

from                  = {{pass://aerc/accounts/name}} <{{pass://aerc/accounts/gmail-account}}@{{pass://aerc/accounts/gmail-domain}}>

default               = INBOX
folders               = All Mail,Inbox,Archive,Sent,Drafts,Spam,Trash
folders-sort          = All Mail,Inbox,Archive,Sent,Drafts,Spam,Trash
folder-map            = ~/.config/aerc/maps/gmail
postpone              = Drafts
